Let's start with your project: 

Are you a data scientist? 

I think you are an awesome a data scientist.

### **Problem** 
**Our goal is to create a predictive model that can answer the following question:**

**What kind of people had a better chance of surviving?**

**Data about passengers:**
*   Name
*   Age
*   Gender.

## Install and Import Libraries
Let's install PySpark:

In [1]:
import pyspark
from pyspark.sql import SparkSession 
from pyspark.sql.functions import *

## Build Spark Session

In [2]:
spark = SparkSession.builder \
    .master("local") \
    .getOrCreate()

## Data Loading

You have two datasets: 
* Train  
* Test.

Read two datasets: 
* Train
* Test.

In [3]:
train_df = spark.read.csv('train (3).csv' ,header = True,inferSchema=True)
train_df.show()

+-----------+--------+------+--------------------+------+----+-----+-----+----------------+-------+-----+--------+
|PassengerId|Survived|Pclass|                Name|   Sex| Age|SibSp|Parch|          Ticket|   Fare|Cabin|Embarked|
+-----------+--------+------+--------------------+------+----+-----+-----+----------------+-------+-----+--------+
|          1|       0|     3|Braund, Mr. Owen ...|  male|22.0|    1|    0|       A/5 21171|   7.25| null|       S|
|          2|       1|     1|Cumings, Mrs. Joh...|female|38.0|    1|    0|        PC 17599|71.2833|  C85|       C|
|          3|       1|     3|Heikkinen, Miss. ...|female|26.0|    0|    0|STON/O2. 3101282|  7.925| null|       S|
|          4|       1|     1|Futrelle, Mrs. Ja...|female|35.0|    1|    0|          113803|   53.1| C123|       S|
|          5|       0|     3|Allen, Mr. Willia...|  male|35.0|    0|    0|          373450|   8.05| null|       S|
|          6|       0|     3|    Moran, Mr. James|  male|null|    0|    0|          330877| 8.4583| null|       Q|
|          7|       0|     1|McCarthy, Mr. Tim...|  male|54.0|    0|    0|           17463|51.8625|  E46|       S|
|          8|       0|     3|Palsson, Master. ...|  male| 2.0|    3|    1|          349909| 21.075| null|       S|
|          9|       1|     3|Johnson, Mrs. Osc...|female|27.0|    0|    2|          347742|11.1333| null|       S|
|         10|       1|     2|Nasser, Mrs. Nich...|female|14.0|    1|    0|          237736|30.0708| null|       C|
|         11|       1|     3|Sandstrom, Miss. ...|female| 4.0|    1|    1|         PP 9549|   16.7|   G6|       S|
|         12|       1|     1|Bonnell, Miss. El...|female|58.0|    0|    0|          113783|  26.55| C103|       S|
|         13|       0|     3|Saundercock, Mr. ...|  male|20.0|    0|    0|       A/5. 2151|   8.05| null|       S|
|         14|       0|     3|Andersson, Mr. An...|  male|39.0|    1|    5|          347082| 31.275| null|       S|
|         15|       0|     3|Vestrom, Miss. Hu...|female|14.0|    0|    0|          350406| 7.8542| null|       S|
|         16|       1|     2|Hewlett, Mrs. (Ma...|female|55.0|    0|    0|          248706|   16.0| null|       S|
|         17|       0|     3|Rice, Master. Eugene|  male| 2.0|    4|    1|          382652| 29.125| null|       Q|
|         18|       1|     2|Williams, Mr. Cha...|  male|null|    0|    0|          244373|   13.0| null|       S|
|         19|       0|     3|Vander Planke, Mr...|female|31.0|    1|    0|          345763|   18.0| null|       S|
|         20|       1|     3|Masselmani, Mrs. ...|female|null|    0|    0|            2649|  7.225| null|       C|
+-----------+--------+------+--------------------+------+----+-----+-----+----------------+-------+-----+--------+
only showing top 20 rows

Let's work with train dataset:

**Confirm if this is a dataframe or not:**

In [4]:
type(train_df)

pyspark.sql.dataframe.DataFrame

**Show 5 rows.**

In [5]:
train_df.head(5)

[Row(PassengerId=1, Survived=0, Pclass=3, Name='Braund, Mr. Owen Harris', Sex='male', Age=22.0, SibSp=1, Parch=0, Ticket='A/5 21171', Fare=7.25, Cabin=None, Embarked='S'),
 Row(PassengerId=2, Survived=1, Pclass=1, Name='Cumings, Mrs. John Bradley (Florence Briggs Thayer)', Sex='female', Age=38.0, SibSp=1, Parch=0, Ticket='PC 17599', Fare=71.2833, Cabin='C85', Embarked='C'),
 Row(PassengerId=3, Survived=1, Pclass=3, Name='Heikkinen, Miss. Laina', Sex='female', Age=26.0, SibSp=0, Parch=0, Ticket='STON/O2. 3101282', Fare=7.925, Cabin=None, Embarked='S'),
 Row(PassengerId=4, Survived=1, Pclass=1, Name='Futrelle, Mrs. Jacques Heath (Lily May Peel)', Sex='female', Age=35.0, SibSp=1, Parch=0, Ticket='113803', Fare=53.1, Cabin='C123', Embarked='S'),
 Row(PassengerId=5, Survived=0, Pclass=3, Name='Allen, Mr. William Henry', Sex='male', Age=35.0, SibSp=0, Parch=0, Ticket='373450', Fare=8.05, Cabin=None, Embarked='S')]

**Display schema for the dataset:**

In [6]:
train_df.printSchema()

root
 |-- PassengerId: integer (nullable = true)
 |-- Survived: integer (nullable = true)
 |-- Pclass: integer (nullable = true)
 |-- Name: string (nullable = true)
 |-- Sex: string (nullable = true)
 |-- Age: double (nullable = true)
 |-- SibSp: integer (nullable = true)
 |-- Parch: integer (nullable = true)
 |-- Ticket: string (nullable = true)
 |-- Fare: double (nullable = true)
 |-- Cabin: string (nullable = true)
 |-- Embarked: string (nullable = true)

**Statistical summary:**

In [7]:
train_df.describe().show()

+-------+-----------------+-------------------+------------------+--------------------+------+------------------+------------------+-------------------+------------------+-----------------+-----+--------+
|summary|      PassengerId|           Survived|            Pclass|                Name|   Sex|               Age|             SibSp|              Parch|            Ticket|             Fare|Cabin|Embarked|
+-------+-----------------+-------------------+------------------+--------------------+------+------------------+------------------+-------------------+------------------+-----------------+-----+--------+
|  count|              891|                891|               891|                 891|   891|               714|               891|                891|               891|              891|  204|     889|
|   mean|            446.0| 0.3838383838383838| 2.308641975308642|                null|  null| 29.69911764705882|0.5230078563411896|0.38159371492704824|260318.54916792738| 32.2042079685746| null|    null|
| stddev|257.3538420152301|0.48659245426485753|0.8360712409770491|                null|  null|14.526497332334035|1.1027434322934315| 0.8060572211299488|471609.26868834975|49.69342859718089| null|    null|
|    min|                1|                  0|                 1|"Andersson, Mr. A...|female|              0.42|                 0|                  0|            110152|              0.0|  A10|       C|
|    max|              891|                  1|                 3|van Melkebeke, Mr...|  male|              80.0|                 8|                  6|         WE/P 5735|         512.3292|    T|       S|
+-------+-----------------+-------------------+------------------+--------------------+------+------------------+------------------+-------------------+------------------+-----------------+-----+--------+

## EDA - Exploratory Data Analysis

**Display count for the train dataset:**

In [8]:
train_df.count()

891

**Can you answer this question:** 

**How many people survived, and how many didn't survive?** 

**Please save data in a variable.**

In [9]:
survived = train_df.select('Survived').where(train_df['Survived']==1).count()
un_survived = train_df.select('Survived').where(train_df['Survived']==0).count()

**Display your result:**

In [10]:
print('survived:' ,survived)
print('un_survived :', un_survived)

survived: 342
un_survived : 549

**Can you display your answer in ratio form?(Hint: Use "UDF" Function. (Hint: Use "UDF" Function. This is a hint you can use any method.)**

In [11]:
'''
def get_ratio( col):
  R1 = col/ train_df.count()
  return R1
  '''
def get_ratio(col) : 
  survived = train_df.select(col).where(train_df[col]==1).count()
  un_survived = train_df.select(col).where(train_df[col]==0).count()
  R1 = survived / train_df.count()
  R2 = un_survived / train_df.count()
  return R1,R2

In [ ]:
#convertUDF = udf(lambda z: get_ratio(z))

In [13]:
from pyspark.sql import functions as F
F.col('Survived')
#convertUDF(train_df['Survived'])

Column<'Survived'>

**Can you get the number of males and females?**

In [14]:
female_num = train_df.select('Sex').where(train_df['Sex']=='female').count()
male_num = train_df.select('Sex').where(train_df['Sex']=='male').count()

**1. What is the average number of survivors of each gender?**

**2. What is the number of survivors of each gender?**

(Hint: Group by the "sex" column. This is a hint you can use any method.)

In [15]:
train_df.groupBy('Sex').agg(avg('Survived')).show()
train_df.groupBy('Sex').agg(count('Survived')).show()

+------+-------------------+
|   Sex|      avg(Survived)|
+------+-------------------+
|female| 0.7420382165605095|
|  male|0.18890814558058924|
+------+-------------------+

+------+---------------+
|   Sex|count(Survived)|
+------+---------------+
|female|            314|
|  male|            577|
+------+---------------+

**Create temporary view PySpark:**

In [16]:
train_df.createOrReplaceTempView("df1_tbl")

**How many people survived, and how many didn't survive? By SQL:**

In [17]:
suv=spark.sql('SELECT * FROM df1_tbl where Survived = "1" ')
non_suv=spark.sql('SELECT * FROM df1_tbl where Survived = "0" ')

**Can you display the number of survivors from each gender as a ratio?**

(Hint: Group by "sex" column. This is a hint you can use any method.)

**Can you do this via SQL?**

In [18]:
spark.sql('SELECT AVG(Survived) FROM df1_tbl  group by Sex').show()
#spark.sql('(SELECT count(Survived) FROM df1_tbl where Survived="0"  group by Sex) (Select count(*) )').show()
#non_suv1=spark.sql('SELECT * FROM df1_tbl where Survived = "0" ')

+-------------------+
|      avg(Survived)|
+-------------------+
| 0.7420382165605095|
|0.18890814558058924|
+-------------------+

**Display a ratio for "p-class": SUM(Survived)/count for p-class**

In [19]:
p_ratio = spark.sql('Select SUM(Survived)/count(Pclass) from df1_tbl group by Pclass ').show()

+-------------------------------------------------------------------------------+
|(CAST(sum(CAST(Survived AS BIGINT)) AS DOUBLE) / CAST(count(Pclass) AS DOUBLE))|
+-------------------------------------------------------------------------------+
|                                                             0.6296296296296297|
|                                                            0.24236252545824846|
|                                                            0.47282608695652173|
+-------------------------------------------------------------------------------+

**Let's take a break and continue after this.**

## Data Cleaning

**First and foremost, we must merge both the train and test datasets. (Hint: The union function can do this.)**

In [20]:
test_df = spark.read.csv('test (4).csv' , header=True , inferSchema=True)
total_df = train_df.union(test_df)

In [21]:
total_df.dtypes

[('PassengerId', 'int'),
 ('Survived', 'int'),
 ('Pclass', 'int'),
 ('Name', 'string'),
 ('Sex', 'string'),
 ('Age', 'double'),
 ('SibSp', 'int'),
 ('Parch', 'int'),
 ('Ticket', 'string'),
 ('Fare', 'double'),
 ('Cabin', 'string'),
 ('Embarked', 'string')]

**Display count:**

In [22]:
total_df.count()

1329

**Can you define the number of null values in each column?**

In [23]:
#total_df.createOrReplaceTempView("df1_tb2")
total_withNulls = total_df.select([count(when(isnan(c) | col(c).isNull(), c)).alias(c) for c in total_df.columns])

In [24]:
#total_df.show()
total_df.dtypes

[('PassengerId', 'int'),
 ('Survived', 'int'),
 ('Pclass', 'int'),
 ('Name', 'string'),
 ('Sex', 'string'),
 ('Age', 'double'),
 ('SibSp', 'int'),
 ('Parch', 'int'),
 ('Ticket', 'string'),
 ('Fare', 'double'),
 ('Cabin', 'string'),
 ('Embarked', 'string')]

**Create Dataframe for null values**

1. Column
2. Number of missing values.

In [25]:
nulls = total_withNulls.select([F.col('Age') , F.col('Cabin') , F.col('Embarked')])
nulls.show()

+---+-----+--------+
|Age|Cabin|Embarked|
+---+-----+--------+
|265| 1021|       3|
+---+-----+--------+

## Preprocessing

**Create Temporary view PySpark:**

In [26]:
total_df.createOrReplaceTempView("df1_tb2")

**Can you show the "name" column from your temporary table?**

In [27]:
spark.sql('Select name from df1_tb2 ').show()

+--------------------+
|                name|
+--------------------+
|Braund, Mr. Owen ...|
|Cumings, Mrs. Joh...|
|Heikkinen, Miss. ...|
|Futrelle, Mrs. Ja...|
|Allen, Mr. Willia...|
|    Moran, Mr. James|
|McCarthy, Mr. Tim...|
|Palsson, Master. ...|
|Johnson, Mrs. Osc...|
|Nasser, Mrs. Nich...|
|Sandstrom, Miss. ...|
|Bonnell, Miss. El...|
|Saundercock, Mr. ...|
|Andersson, Mr. An...|
|Vestrom, Miss. Hu...|
|Hewlett, Mrs. (Ma...|
|Rice, Master. Eugene|
|Williams, Mr. Cha...|
|Vander Planke, Mr...|
|Masselmani, Mrs. ...|
+--------------------+
only showing top 20 rows

**Run this code:**

In [28]:
import pyspark.sql.functions as F
combined = total_df.withColumn('Title',F.regexp_extract(F.col("Name"),"([A-Za-z]+)\.",1))
combined.createOrReplaceTempView('combined')
combined.dtypes

[('PassengerId', 'int'),
 ('Survived', 'int'),
 ('Pclass', 'int'),
 ('Name', 'string'),
 ('Sex', 'string'),
 ('Age', 'double'),
 ('SibSp', 'int'),
 ('Parch', 'int'),
 ('Ticket', 'string'),
 ('Fare', 'double'),
 ('Cabin', 'string'),
 ('Embarked', 'string'),
 ('Title', 'string')]

**Display "Title" column and count "Title" column:**

In [29]:
#combined.show()
counts = spark.sql('Select Title ,count(Title) from combined group by Title')
type(counts)

pyspark.sql.dataframe.DataFrame

**We can see that Dr, Rev, Major, Col, Mlle, Capt, Don, Jonkheer, Countess, Ms, Sir, Lady, and Mme are really rare titles, so create Dictionary and set the value to "rare".**

In [30]:
titles = ['Dr' , 'Rev', 'Major', 'Col', 'Mlle', 'Capt', 'Don', 'Jonkheer', 'Countess', 'Ms', 'Sir', 'Lady','Mme']
dictt = {'rare' : titles}

**Run the function:**

In [31]:
@udf(returnType=StringType()) 
def impute_title(title):
  if title in titles:
     title = 'rare'
     return title
  else :
    return title
    # Title_map is your dictionary. please change this name with your dictionary name.

**Apply the function on "Title" column using UDF:**

In [32]:
combined = combined.withColumn("Created_Name", impute_title(F.col('Title')))

In [33]:
combined.select('Created_Name').where(combined['Created_Name']=='rare').show()

+------------+
|Created_Name|
+------------+
|        rare|
|        rare|
|        rare|
|        rare|
|        rare|
|        rare|
|        rare|
|        rare|
|        rare|
|        rare|
|        rare|
|        rare|
|        rare|
|        rare|
|        rare|
|        rare|
|        rare|
|        rare|
|        rare|
|        rare|
+------------+
only showing top 20 rows

**Display "Title" from table and group by "Title" column:**

In [34]:
spark.sql('Select Title from combined group by Title').show()

+--------+
|   Title|
+--------+
|     Don|
|    Miss|
|Countess|
|     Col|
|     Rev|
|    Lady|
|  Master|
|     Mme|
|    Capt|
|      Mr|
|      Dr|
|     Mrs|
|     Sir|
|Jonkheer|
|    Mlle|
|   Major|
|      Ms|
+--------+

## **Preprocessing Age**

**Based on the "age" column mean, you will fill in the missing age values:**

In [102]:
#mean =  spark.sql('select AVG(Age) from combined')
mean = combined.agg(avg('Age')).collect()[0][0]
type(mean)

float

**Fill missing with "age" mean:**

In [111]:
new_com = combined.fillna(value = mean , subset='Age')
new_com.show()

+-----------+--------+------+--------------------+------+------------------+-----+-----+----------------+-------+-----+--------+------+------------+
|PassengerId|Survived|Pclass|                Name|   Sex|               Age|SibSp|Parch|          Ticket|   Fare|Cabin|Embarked| Title|Created_Name|
+-----------+--------+------+--------------------+------+------------------+-----+-----+----------------+-------+-----+--------+------+------------+
|          1|       0|     3|Braund, Mr. Owen ...|  male|              22.0|    1|    0|       A/5 21171|   7.25| null|       S|    Mr|          Mr|
|          2|       1|     1|Cumings, Mrs. Joh...|female|              38.0|    1|    0|        PC 17599|71.2833|  C85|       C|   Mrs|         Mrs|
|          3|       1|     3|Heikkinen, Miss. ...|female|              26.0|    0|    0|STON/O2. 3101282|  7.925| null|       S|  Miss|        Miss|
|          4|       1|     1|Futrelle, Mrs. Ja...|female|              35.0|    1|    0|          113803|   53.1| C123|       S|   Mrs|         Mrs|
|          5|       0|     3|Allen, Mr. Willia...|  male|              35.0|    0|    0|          373450|   8.05| null|       S|    Mr|          Mr|
|          6|       0|     3|    Moran, Mr. James|  male|30.079501879699244|    0|    0|          330877| 8.4583| null|       Q|    Mr|          Mr|
|          7|       0|     1|McCarthy, Mr. Tim...|  male|              54.0|    0|    0|           17463|51.8625|  E46|       S|    Mr|          Mr|
|          8|       0|     3|Palsson, Master. ...|  male|               2.0|    3|    1|          349909| 21.075| null|       S|Master|      Master|
|          9|       1|     3|Johnson, Mrs. Osc...|female|              27.0|    0|    2|          347742|11.1333| null|       S|   Mrs|         Mrs|
|         10|       1|     2|Nasser, Mrs. Nich...|female|              14.0|    1|    0|          237736|30.0708| null|       C|   Mrs|         Mrs|
|         11|       1|     3|Sandstrom, Miss. ...|female|               4.0|    1|    1|         PP 9549|   16.7|   G6|       S|  Miss|        Miss|
|         12|       1|     1|Bonnell, Miss. El...|female|              58.0|    0|    0|          113783|  26.55| C103|       S|  Miss|        Miss|
|         13|       0|     3|Saundercock, Mr. ...|  male|              20.0|    0|    0|       A/5. 2151|   8.05| null|       S|    Mr|          Mr|
|         14|       0|     3|Andersson, Mr. An...|  male|              39.0|    1|    5|          347082| 31.275| null|       S|    Mr|          Mr|
|         15|       0|     3|Vestrom, Miss. Hu...|female|              14.0|    0|    0|          350406| 7.8542| null|       S|  Miss|        Miss|
|         16|       1|     2|Hewlett, Mrs. (Ma...|female|              55.0|    0|    0|          248706|   16.0| null|       S|   Mrs|         Mrs|
|         17|       0|     3|Rice, Master. Eugene|  male|               2.0|    4|    1|          382652| 29.125| null|       Q|Master|      Master|
|         18|       1|     2|Williams, Mr. Cha...|  male|30.079501879699244|    0|    0|          244373|   13.0| null|       S|    Mr|          Mr|
|         19|       0|     3|Vander Planke, Mr...|female|              31.0|    1|    0|          345763|   18.0| null|       S|   Mrs|         Mrs|
|         20|       1|     3|Masselmani, Mrs. ...|female|30.079501879699244|    0|    0|            2649|  7.225| null|       C|   Mrs|         Mrs|
+-----------+--------+------+--------------------+------+------------------+-----+-----+----------------+-------+-----+--------+------+------------+
only showing top 20 rows

## **Preprocessing Embarked**

**Select "Embarked" column, count them, order by count Desc, and save in grouped_Embarked variable:**

In [112]:
grouped_Embarked = spark.sql('select Embarked ,count(Embarked)  from combined  group by Embarked  order by count(Embarked) DESC')

**Show "groupped_Embarked" your variable:**

In [113]:
grouped_Embarked.show()

+--------+---------------+
|Embarked|count(Embarked)|
+--------+---------------+
|       S|            962|
|       C|            253|
|       Q|            111|
|    null|              0|
+--------+---------------+

**Get max of groupped_Embarked:**

In [114]:
grouped_Embarked.agg(max('count(Embarked)')).show()

+--------------------+
|max(count(Embarked))|
+--------------------+
|                 962|
+--------------------+

**Fill missing values with max 'S' of grouped_Embarked:**

In [115]:
maxx= grouped_Embarked.agg(max('count(Embarked)')).collect()[0][0]
new_com = new_com.fillna(value='S' , subset=['Embarked'])
new_com.show()

+-----------+--------+------+--------------------+------+------------------+-----+-----+----------------+-------+-----+--------+------+------------+
|PassengerId|Survived|Pclass|                Name|   Sex|               Age|SibSp|Parch|          Ticket|   Fare|Cabin|Embarked| Title|Created_Name|
+-----------+--------+------+--------------------+------+------------------+-----+-----+----------------+-------+-----+--------+------+------------+
|          1|       0|     3|Braund, Mr. Owen ...|  male|              22.0|    1|    0|       A/5 21171|   7.25| null|       S|    Mr|          Mr|
|          2|       1|     1|Cumings, Mrs. Joh...|female|              38.0|    1|    0|        PC 17599|71.2833|  C85|       C|   Mrs|         Mrs|
|          3|       1|     3|Heikkinen, Miss. ...|female|              26.0|    0|    0|STON/O2. 3101282|  7.925| null|       S|  Miss|        Miss|
|          4|       1|     1|Futrelle, Mrs. Ja...|female|              35.0|    1|    0|          113803|   53.1| C123|       S|   Mrs|         Mrs|
|          5|       0|     3|Allen, Mr. Willia...|  male|              35.0|    0|    0|          373450|   8.05| null|       S|    Mr|          Mr|
|          6|       0|     3|    Moran, Mr. James|  male|30.079501879699244|    0|    0|          330877| 8.4583| null|       Q|    Mr|          Mr|
|          7|       0|     1|McCarthy, Mr. Tim...|  male|              54.0|    0|    0|           17463|51.8625|  E46|       S|    Mr|          Mr|
|          8|       0|     3|Palsson, Master. ...|  male|               2.0|    3|    1|          349909| 21.075| null|       S|Master|      Master|
|          9|       1|     3|Johnson, Mrs. Osc...|female|              27.0|    0|    2|          347742|11.1333| null|       S|   Mrs|         Mrs|
|         10|       1|     2|Nasser, Mrs. Nich...|female|              14.0|    1|    0|          237736|30.0708| null|       C|   Mrs|         Mrs|
|         11|       1|     3|Sandstrom, Miss. ...|female|               4.0|    1|    1|         PP 9549|   16.7|   G6|       S|  Miss|        Miss|
|         12|       1|     1|Bonnell, Miss. El...|female|              58.0|    0|    0|          113783|  26.55| C103|       S|  Miss|        Miss|
|         13|       0|     3|Saundercock, Mr. ...|  male|              20.0|    0|    0|       A/5. 2151|   8.05| null|       S|    Mr|          Mr|
|         14|       0|     3|Andersson, Mr. An...|  male|              39.0|    1|    5|          347082| 31.275| null|       S|    Mr|          Mr|
|         15|       0|     3|Vestrom, Miss. Hu...|female|              14.0|    0|    0|          350406| 7.8542| null|       S|  Miss|        Miss|
|         16|       1|     2|Hewlett, Mrs. (Ma...|female|              55.0|    0|    0|          248706|   16.0| null|       S|   Mrs|         Mrs|
|         17|       0|     3|Rice, Master. Eugene|  male|               2.0|    4|    1|          382652| 29.125| null|       Q|Master|      Master|
|         18|       1|     2|Williams, Mr. Cha...|  male|30.079501879699244|    0|    0|          244373|   13.0| null|       S|    Mr|          Mr|
|         19|       0|     3|Vander Planke, Mr...|female|              31.0|    1|    0|          345763|   18.0| null|       S|   Mrs|         Mrs|
|         20|       1|     3|Masselmani, Mrs. ...|female|30.079501879699244|    0|    0|            2649|  7.225| null|       C|   Mrs|         Mrs|
+-----------+--------+------+--------------------+------+------------------+-----+-----+----------------+-------+-----+--------+------+------------+
only showing top 20 rows

## **Preprocessing Cabin**

**Replace "cabin" column with first char from the string:**

In [116]:
new_com = new_com.withColumn('Cabin' , substring('cabin',1,1))
new_com.show()

+-----------+--------+------+--------------------+------+------------------+-----+-----+----------------+-------+-----+--------+------+------------+
|PassengerId|Survived|Pclass|                Name|   Sex|               Age|SibSp|Parch|          Ticket|   Fare|Cabin|Embarked| Title|Created_Name|
+-----------+--------+------+--------------------+------+------------------+-----+-----+----------------+-------+-----+--------+------+------------+
|          1|       0|     3|Braund, Mr. Owen ...|  male|              22.0|    1|    0|       A/5 21171|   7.25| null|       S|    Mr|          Mr|
|          2|       1|     1|Cumings, Mrs. Joh...|female|              38.0|    1|    0|        PC 17599|71.2833|    C|       C|   Mrs|         Mrs|
|          3|       1|     3|Heikkinen, Miss. ...|female|              26.0|    0|    0|STON/O2. 3101282|  7.925| null|       S|  Miss|        Miss|
|          4|       1|     1|Futrelle, Mrs. Ja...|female|              35.0|    1|    0|          113803|   53.1|    C|       S|   Mrs|         Mrs|
|          5|       0|     3|Allen, Mr. Willia...|  male|              35.0|    0|    0|          373450|   8.05| null|       S|    Mr|          Mr|
|          6|       0|     3|    Moran, Mr. James|  male|30.079501879699244|    0|    0|          330877| 8.4583| null|       Q|    Mr|          Mr|
|          7|       0|     1|McCarthy, Mr. Tim...|  male|              54.0|    0|    0|           17463|51.8625|    E|       S|    Mr|          Mr|
|          8|       0|     3|Palsson, Master. ...|  male|               2.0|    3|    1|          349909| 21.075| null|       S|Master|      Master|
|          9|       1|     3|Johnson, Mrs. Osc...|female|              27.0|    0|    2|          347742|11.1333| null|       S|   Mrs|         Mrs|
|         10|       1|     2|Nasser, Mrs. Nich...|female|              14.0|    1|    0|          237736|30.0708| null|       C|   Mrs|         Mrs|
|         11|       1|     3|Sandstrom, Miss. ...|female|               4.0|    1|    1|         PP 9549|   16.7|    G|       S|  Miss|        Miss|
|         12|       1|     1|Bonnell, Miss. El...|female|              58.0|    0|    0|          113783|  26.55|    C|       S|  Miss|        Miss|
|         13|       0|     3|Saundercock, Mr. ...|  male|              20.0|    0|    0|       A/5. 2151|   8.05| null|       S|    Mr|          Mr|
|         14|       0|     3|Andersson, Mr. An...|  male|              39.0|    1|    5|          347082| 31.275| null|       S|    Mr|          Mr|
|         15|       0|     3|Vestrom, Miss. Hu...|female|              14.0|    0|    0|          350406| 7.8542| null|       S|  Miss|        Miss|
|         16|       1|     2|Hewlett, Mrs. (Ma...|female|              55.0|    0|    0|          248706|   16.0| null|       S|   Mrs|         Mrs|
|         17|       0|     3|Rice, Master. Eugene|  male|               2.0|    4|    1|          382652| 29.125| null|       Q|Master|      Master|
|         18|       1|     2|Williams, Mr. Cha...|  male|30.079501879699244|    0|    0|          244373|   13.0| null|       S|    Mr|          Mr|
|         19|       0|     3|Vander Planke, Mr...|female|              31.0|    1|    0|          345763|   18.0| null|       S|   Mrs|         Mrs|
|         20|       1|     3|Masselmani, Mrs. ...|female|30.079501879699244|    0|    0|            2649|  7.225| null|       C|   Mrs|         Mrs|
+-----------+--------+------+--------------------+------+------------------+-----+-----+----------------+-------+-----+--------+------+------------+
only showing top 20 rows

**Show the result:**

In [117]:
new_com.show()

+-----------+--------+------+--------------------+------+------------------+-----+-----+----------------+-------+-----+--------+------+------------+
|PassengerId|Survived|Pclass|                Name|   Sex|               Age|SibSp|Parch|          Ticket|   Fare|Cabin|Embarked| Title|Created_Name|
+-----------+--------+------+--------------------+------+------------------+-----+-----+----------------+-------+-----+--------+------+------------+
|          1|       0|     3|Braund, Mr. Owen ...|  male|              22.0|    1|    0|       A/5 21171|   7.25| null|       S|    Mr|          Mr|
|          2|       1|     1|Cumings, Mrs. Joh...|female|              38.0|    1|    0|        PC 17599|71.2833|    C|       C|   Mrs|         Mrs|
|          3|       1|     3|Heikkinen, Miss. ...|female|              26.0|    0|    0|STON/O2. 3101282|  7.925| null|       S|  Miss|        Miss|
|          4|       1|     1|Futrelle, Mrs. Ja...|female|              35.0|    1|    0|          113803|   53.1|    C|       S|   Mrs|         Mrs|
|          5|       0|     3|Allen, Mr. Willia...|  male|              35.0|    0|    0|          373450|   8.05| null|       S|    Mr|          Mr|
|          6|       0|     3|    Moran, Mr. James|  male|30.079501879699244|    0|    0|          330877| 8.4583| null|       Q|    Mr|          Mr|
|          7|       0|     1|McCarthy, Mr. Tim...|  male|              54.0|    0|    0|           17463|51.8625|    E|       S|    Mr|          Mr|
|          8|       0|     3|Palsson, Master. ...|  male|               2.0|    3|    1|          349909| 21.075| null|       S|Master|      Master|
|          9|       1|     3|Johnson, Mrs. Osc...|female|              27.0|    0|    2|          347742|11.1333| null|       S|   Mrs|         Mrs|
|         10|       1|     2|Nasser, Mrs. Nich...|female|              14.0|    1|    0|          237736|30.0708| null|       C|   Mrs|         Mrs|
|         11|       1|     3|Sandstrom, Miss. ...|female|               4.0|    1|    1|         PP 9549|   16.7|    G|       S|  Miss|        Miss|
|         12|       1|     1|Bonnell, Miss. El...|female|              58.0|    0|    0|          113783|  26.55|    C|       S|  Miss|        Miss|
|         13|       0|     3|Saundercock, Mr. ...|  male|              20.0|    0|    0|       A/5. 2151|   8.05| null|       S|    Mr|          Mr|
|         14|       0|     3|Andersson, Mr. An...|  male|              39.0|    1|    5|          347082| 31.275| null|       S|    Mr|          Mr|
|         15|       0|     3|Vestrom, Miss. Hu...|female|              14.0|    0|    0|          350406| 7.8542| null|       S|  Miss|        Miss|
|         16|       1|     2|Hewlett, Mrs. (Ma...|female|              55.0|    0|    0|          248706|   16.0| null|       S|   Mrs|         Mrs|
|         17|       0|     3|Rice, Master. Eugene|  male|               2.0|    4|    1|          382652| 29.125| null|       Q|Master|      Master|
|         18|       1|     2|Williams, Mr. Cha...|  male|30.079501879699244|    0|    0|          244373|   13.0| null|       S|    Mr|          Mr|
|         19|       0|     3|Vander Planke, Mr...|female|              31.0|    1|    0|          345763|   18.0| null|       S|   Mrs|         Mrs|
|         20|       1|     3|Masselmani, Mrs. ...|female|30.079501879699244|    0|    0|            2649|  7.225| null|       C|   Mrs|         Mrs|
+-----------+--------+------+--------------------+------+------------------+-----+-----+----------------+-------+-----+--------+------+------------+
only showing top 20 rows

**Create the temporary view:**

In [118]:
new_com.createOrReplaceTempView("df1_tb3")

**Select "Cabin" column, count "Cabin" column, Group by "Cabin" column, Order By count DESC**

In [119]:
 spark.sql('select Cabin ,count(Cabin)  from df1_tb3  group by Cabin  order by count(Cabin) DESC').show()

+-----+------------+
|Cabin|count(Cabin)|
+-----+------------+
|    C|          82|
|    B|          77|
|    D|          52|
|    E|          51|
|    A|          23|
|    F|          18|
|    G|           4|
|    T|           1|
| null|           0|
+-----+------------+

**Fill missing values with "U":**

In [121]:
new_com = new_com.fillna(value='U' , subset=['Cabin'])
new_com.dtypes

[('PassengerId', 'int'),
 ('Survived', 'int'),
 ('Pclass', 'int'),
 ('Name', 'string'),
 ('Sex', 'string'),
 ('Age', 'double'),
 ('SibSp', 'int'),
 ('Parch', 'int'),
 ('Ticket', 'string'),
 ('Fare', 'double'),
 ('Cabin', 'string'),
 ('Embarked', 'string'),
 ('Title', 'string'),
 ('Created_Name', 'string')]

**StringIndexer: A label indexer that maps a string column of labels to an ML column of label indices. If the input column is numeric, we cast it to string and index the string values. The indices are in [0, numLabels). By default, this is ordered by label frequencies so the most frequent label gets index 0. The ordering behavior is controlled by setting stringOrderType. Its default value is ‘frequencyDesc’.**

**StringIndexer(inputCol=None, outputCol=None)**

In [122]:
trainDF, testDF = new_com.randomSplit([.8,.2],seed=42)
trainDF.dtypes

[('PassengerId', 'int'),
 ('Survived', 'int'),
 ('Pclass', 'int'),
 ('Name', 'string'),
 ('Sex', 'string'),
 ('Age', 'double'),
 ('SibSp', 'int'),
 ('Parch', 'int'),
 ('Ticket', 'string'),
 ('Fare', 'double'),
 ('Cabin', 'string'),
 ('Embarked', 'string'),
 ('Title', 'string'),
 ('Created_Name', 'string')]

In [123]:
categoricalCols  = ['Sex' , 'Cabin' , 'Embarked' , 'Created_Name']

In [124]:
indexOutputCols = [x + "_Index" for x in categoricalCols]
indexOutputCols

['Sex_Index', 'Cabin_Index', 'Embarked_Index', 'Created_Name_Index']

In [125]:
oheOutputCols = [x + "_OHE" for x in categoricalCols]
oheOutputCols

['Sex_OHE', 'Cabin_OHE', 'Embarked_OHE', 'Created_Name_OHE']

In [126]:
from pyspark.ml.feature import StringIndexer
from pyspark.ml.feature import OneHotEncoder
stringIndexer = StringIndexer(inputCols=categoricalCols,
                             outputCols=indexOutputCols,
                             handleInvalid='skip')

**OneHotEncoder(inputCols=None, outputCols=None)**

A one-hot encoder that maps a column of category indices to a column of binary vectors, with at most a single one-value per row that indicates the input category index. For example with 5 categories, an input value of 2.0 would map to an output vector of [0.0, 0.0, 1.0, 0.0]. The last category is not included by default (configurable via dropLast), because it makes the vector entries sum up to one, and hence linearly dependent. So an input value of 4.0 maps to [0.0, 0.0, 0.0, 0.0].

In [127]:
oheEncoder = OneHotEncoder(inputCols=indexOutputCols,
                          outputCols=oheOutputCols)

**VectorAssembler: VectorAssembler(*, inputCols=None, outputCol=None). A feature transformer that merges multiple columns into a vector column.**

In [128]:
from pyspark.ml.feature import VectorAssembler
numericCols = ['Pclass' , 'Parch' , 'SibSp' , 'Age']
assemblerInputs = oheOutputCols + numericCols
assemblerInputs
df_va = VectorAssembler(inputCols=assemblerInputs,outputCol='Features')

In [129]:
assemblerInputs

['Sex_OHE',
 'Cabin_OHE',
 'Embarked_OHE',
 'Created_Name_OHE',
 'Pclass',
 'Parch',
 'SibSp',
 'Age']

**Use randomSplit function and split data to x_train, and X_test with 80% and 20% Consecutive**

**Pipeline: ML Pipelines provide a uniform set of high-level APIs built on top of DataFrames that help users create and tune practical machine learning pipelines.**

In [130]:
trainDF.select([count(when(isnan(c) | col(c).isNull(), c)).alias(c) for c in trainDF.columns]).show()

+-----------+--------+------+----+---+---+-----+-----+------+----+-----+--------+-----+------------+
|PassengerId|Survived|Pclass|Name|Sex|Age|SibSp|Parch|Ticket|Fare|Cabin|Embarked|Title|Created_Name|
+-----------+--------+------+----+---+---+-----+-----+------+----+-----+--------+-----+------------+
|          0|       0|     0|   0|  0|  0|    0|    0|     0|   0|    0|       0|    0|           0|
+-----------+--------+------+----+---+---+-----+-----+------+----+-----+--------+-----+------------+

**Build RandomForestClassifier model and use pipeline to fit and transform then display "prediction, Survived, features" columns**

In [131]:
from pyspark.ml import Pipeline
from pyspark.ml.classification import RandomForestClassifier
clf = RandomForestClassifier(featuresCol='Features',labelCol='Survived')
pipeline = Pipeline(stages=[stringIndexer,oheEncoder , df_va ,clf])
trainDF.show()
pipelineModel = pipeline.fit(trainDF)
predDF = pipelineModel.transform(testDF)

+-----------+--------+------+--------------------+------+------------------+-----+-----+---------+-------+-----+--------+------+------------+
|PassengerId|Survived|Pclass|                Name|   Sex|               Age|SibSp|Parch|   Ticket|   Fare|Cabin|Embarked| Title|Created_Name|
+-----------+--------+------+--------------------+------+------------------+-----+-----+---------+-------+-----+--------+------+------------+
|          1|       0|     3|Braund, Mr. Owen ...|  male|              22.0|    1|    0|A/5 21171|   7.25|    U|       S|    Mr|          Mr|
|          2|       1|     1|Cumings, Mrs. Joh...|female|              38.0|    1|    0| PC 17599|71.2833|    C|       C|   Mrs|         Mrs|
|          4|       1|     1|Futrelle, Mrs. Ja...|female|              35.0|    1|    0|   113803|   53.1|    C|       S|   Mrs|         Mrs|
|          5|       0|     3|Allen, Mr. Willia...|  male|              35.0|    0|    0|   373450|   8.05|    U|       S|    Mr|          Mr|
|          6|       0|     3|    Moran, Mr. James|  male|30.079501879699244|    0|    0|   330877| 8.4583|    U|       Q|    Mr|          Mr|
|          8|       0|     3|Palsson, Master. ...|  male|               2.0|    3|    1|   349909| 21.075|    U|       S|Master|      Master|
|         10|       1|     2|Nasser, Mrs. Nich...|female|              14.0|    1|    0|   237736|30.0708|    U|       C|   Mrs|         Mrs|
|         11|       1|     3|Sandstrom, Miss. ...|female|               4.0|    1|    1|  PP 9549|   16.7|    G|       S|  Miss|        Miss|
|         12|       1|     1|Bonnell, Miss. El...|female|              58.0|    0|    0|   113783|  26.55|    C|       S|  Miss|        Miss|
|         13|       0|     3|Saundercock, Mr. ...|  male|              20.0|    0|    0|A/5. 2151|   8.05|    U|       S|    Mr|          Mr|
|         15|       0|     3|Vestrom, Miss. Hu...|female|              14.0|    0|    0|   350406| 7.8542|    U|       S|  Miss|        Miss|
|         16|       1|     2|Hewlett, Mrs. (Ma...|female|              55.0|    0|    0|   248706|   16.0|    U|       S|   Mrs|         Mrs|
|         17|       0|     3|Rice, Master. Eugene|  male|               2.0|    4|    1|   382652| 29.125|    U|       Q|Master|      Master|
|         18|       1|     2|Williams, Mr. Cha...|  male|30.079501879699244|    0|    0|   244373|   13.0|    U|       S|    Mr|          Mr|
|         19|       0|     3|Vander Planke, Mr...|female|              31.0|    1|    0|   345763|   18.0|    U|       S|   Mrs|         Mrs|
|         21|       0|     2|Fynney, Mr. Joseph J|  male|              35.0|    0|    0|   239865|   26.0|    U|       S|    Mr|          Mr|
|         22|       1|     2|Beesley, Mr. Lawr...|  male|              34.0|    0|    0|   248698|   13.0|    D|       S|    Mr|          Mr|
|         23|       1|     3|"McGowan, Miss. A...|female|              15.0|    0|    0|   330923| 8.0292|    U|       Q|  Miss|        Miss|
|         25|       0|     3|Palsson, Miss. To...|female|               8.0|    3|    1|   349909| 21.075|    U|       S|  Miss|        Miss|
|         26|       1|     3|Asplund, Mrs. Car...|female|              38.0|    1|    5|   347077|31.3875|    U|       S|   Mrs|         Mrs|
+-----------+--------+------+--------------------+------+------------------+-----+-----+---------+-------+-----+--------+------+------------+
only showing top 20 rows

**Use MulticlassClassificationEvaluator and set the "labelCol" to "Survived",  "predictionCol" to "prediction", "metricName" to "accuracy"**

In [136]:
from pyspark.ml.evaluation import BinaryClassificationEvaluator
arr  = BinaryClassificationEvaluator(rawPredictionCol='prediction',
                                     labelCol='Survived',
                                     metricName ='areaUnderROC').evaluate(predDF)

In [139]:
print(arr)

0.8146944568952637

**When you are finished send the project via Google classroom**
**Please let me know if you have any questions.**
* nabieh.mostafa@yahoo.com
* +201015197566 (Whatsapp)

**Don't Hate me, I push you to learn**

**I will help you to become an awesome data engineer.**

**Why did I say that "Data Engineer"?**

**Tricky question, but an optional question, if you would like to know the answer, ask me.**

0.8146944568952637