## Task 1 - SQL

In [28]:
import findspark
import pyspark
from pyspark.sql import SparkSession 
from pyspark.sql.functions import *

### Build SparkSession:

In [6]:
spark = SparkSession.builder \
    .master("local") \
    .getOrCreate()

### Read the json file:

In [10]:
DF = spark.read.json('DataFrames_sample.json')
DF.show()

+----+----+---------+---+-----------+----+----------+-----+------+----+
|   D|   H|      HDD| Id|      Model| RAM|ScreenSize|    W|Weight|Year|
+----+----+---------+---+-----------+----+----------+-----+------+----+
|9.48|0.61|512GB SSD|  1|MacBook Pro|16GB|       15"|13.75|  4.02|2015|
|7.74|0.52|256GB SSD|  2|    MacBook| 8GB|       12"|11.04|  2.03|2016|
|8.94|0.68|128GB SSD|  3|MacBook Air| 8GB|     13.3"| 12.8|  2.96|2016|
| 8.0|20.3|  1TB SSD|  4|       iMac|64GB|       27"| 25.6|  20.8|2017|
+----+----+---------+---+-----------+----+----------+-----+------+----+

### Display the schema:

In [8]:
DF.printSchema()

root
 |-- D: double (nullable = true)
 |-- H: double (nullable = true)
 |-- HDD: string (nullable = true)
 |-- Id: long (nullable = true)
 |-- Model: string (nullable = true)
 |-- RAM: string (nullable = true)
 |-- ScreenSize: string (nullable = true)
 |-- W: double (nullable = true)
 |-- Weight: double (nullable = true)
 |-- Year: long (nullable = true)

### Get all the data when "Model" equal "MacBook Pro":

In [23]:
DF.createOrReplaceTempView("df_tbl")
spark.sql('SELECT * FROM df_tbl where Model= "MacBook Pro"').show()

+----+----+---------+---+-----------+----+----------+-----+------+----+
|   D|   H|      HDD| Id|      Model| RAM|ScreenSize|    W|Weight|Year|
+----+----+---------+---+-----------+----+----------+-----+------+----+
|9.48|0.61|512GB SSD|  1|MacBook Pro|16GB|       15"|13.75|  4.02|2015|
+----+----+---------+---+-----------+----+----------+-----+------+----+

### Create TempView:

In [24]:
DF.createOrReplaceTempView("df_tbl")

### Display "RAM"column and count "RAM" column:

In [38]:
#spark.sql('SELECT RAM FROM df_tbl').show()
DF.groupby('RAM').agg(count('RAM').alias('RAM_Numbers')).show()

+----+-----------+
| RAM|RAM_Numbers|
+----+-----------+
|64GB|          1|
|16GB|          1|
| 8GB|          2|
+----+-----------+

### Get all columns when "Year" column equal "2015"

In [39]:
spark.sql('SELECT * FROM df_tbl where Year = "2015"').show()

+----+----+---------+---+-----------+----+----------+-----+------+----+
|   D|   H|      HDD| Id|      Model| RAM|ScreenSize|    W|Weight|Year|
+----+----+---------+---+-----------+----+----------+-----+------+----+
|9.48|0.61|512GB SSD|  1|MacBook Pro|16GB|       15"|13.75|  4.02|2015|
+----+----+---------+---+-----------+----+----------+-----+------+----+

### Get all when "Model" start with "M":

In [41]:
spark.sql('SELECT * FROM df_tbl where Model LIKE "M%"').show()

+----+----+---------+---+-----------+----+----------+-----+------+----+
|   D|   H|      HDD| Id|      Model| RAM|ScreenSize|    W|Weight|Year|
+----+----+---------+---+-----------+----+----------+-----+------+----+
|9.48|0.61|512GB SSD|  1|MacBook Pro|16GB|       15"|13.75|  4.02|2015|
|7.74|0.52|256GB SSD|  2|    MacBook| 8GB|       12"|11.04|  2.03|2016|
|8.94|0.68|128GB SSD|  3|MacBook Air| 8GB|     13.3"| 12.8|  2.96|2016|
+----+----+---------+---+-----------+----+----------+-----+------+----+

### Get all data when "Model" column equal "MacBook Pro"

In [40]:
spark.sql('SELECT * FROM df_tbl where Model= "MacBook Pro"').show()

+----+----+---------+---+-----------+----+----------+-----+------+----+
|   D|   H|      HDD| Id|      Model| RAM|ScreenSize|    W|Weight|Year|
+----+----+---------+---+-----------+----+----------+-----+------+----+
|9.48|0.61|512GB SSD|  1|MacBook Pro|16GB|       15"|13.75|  4.02|2015|
+----+----+---------+---+-----------+----+----------+-----+------+----+

### Get all data with Multiple Conditions when "RAM" column equal "8GB" and "Model" column is "Macbook".

In [44]:
spark.sql('SELECT * FROM df_tbl where RAM = "8GB" And Model Like "MacBook%"').show()

+----+----+---------+---+-----------+---+----------+-----+------+----+
|   D|   H|      HDD| Id|      Model|RAM|ScreenSize|    W|Weight|Year|
+----+----+---------+---+-----------+---+----------+-----+------+----+
|7.74|0.52|256GB SSD|  2|    MacBook|8GB|       12"|11.04|  2.03|2016|
|8.94|0.68|128GB SSD|  3|MacBook Air|8GB|     13.3"| 12.8|  2.96|2016|
+----+----+---------+---+-----------+---+----------+-----+------+----+

### Get all data with Multiple Conditions when "D" greater than or equal "8" and "Model" column is "iMac".

In [45]:
spark.sql('SELECT * FROM df_tbl where D >= "8" And Model = "iMac"').show()

+---+----+-------+---+-----+----+----------+----+------+----+
|  D|   H|    HDD| Id|Model| RAM|ScreenSize|   W|Weight|Year|
+---+----+-------+---+-----+----+----------+----+------+----+
|8.0|20.3|1TB SSD|  4| iMac|64GB|       27"|25.6|  20.8|2017|
+---+----+-------+---+-----+----+----------+----+------+----+

## Task 2

### Read "test1" dataset:

In [47]:
DF1 = spark.read.csv('test1.csv' , header = True)
DF1.show()

+---------+---+----------+------+
|     Name|age|Experience|Salary|
+---------+---+----------+------+
|    Krish| 31|        10| 30000|
|Sudhanshu| 30|         8| 25000|
|    Sunny| 29|         4| 20000|
|     Paul| 24|         3| 20000|
|   Harsha| 21|         1| 15000|
|  Shubham| 23|         2| 18000|
+---------+---+----------+------+

### Display Salary of the people less than or equal to 20000

In [52]:
DF1.createOrReplaceTempView("df1_tbl")
spark.sql('SELECT * FROM df1_tbl where Salary <= "20000" ').show()

+-------+---+----------+------+
|   Name|age|Experience|Salary|
+-------+---+----------+------+
|  Sunny| 29|         4| 20000|
|   Paul| 24|         3| 20000|
| Harsha| 21|         1| 15000|
|Shubham| 23|         2| 18000|
+-------+---+----------+------+

### Display Salary of the people less than or equal to 20000 and greater than or equal 15000

In [53]:
spark.sql('SELECT * FROM df1_tbl where Salary <= "20000" And Salary >= "15000" ').show()

+-------+---+----------+------+
|   Name|age|Experience|Salary|
+-------+---+----------+------+
|  Sunny| 29|         4| 20000|
|   Paul| 24|         3| 20000|
| Harsha| 21|         1| 15000|
|Shubham| 23|         2| 18000|
+-------+---+----------+------+

## Task 3

### Read "test3" dataset:

In [79]:
DF2=spark.read.csv('test3.csv' , header=True)
DF2.createOrReplaceTempView("df2_tbl")

### Display dataset

In [80]:
DF2.show()

+---------+------------+------+
|     Name| Departments|salary|
+---------+------------+------+
|    Krish|Data Science| 10000|
|    Krish|         IOT|  5000|
|   Mahesh|    Big Data|  4000|
|    Krish|    Big Data|  4000|
|   Mahesh|Data Science|  3000|
|Sudhanshu|Data Science| 20000|
|Sudhanshu|         IOT| 10000|
|Sudhanshu|    Big Data|  5000|
|    Sunny|Data Science| 10000|
|    Sunny|    Big Data|  2000|
+---------+------------+------+

### Display schema

In [81]:
DF2.printSchema()

root
 |-- Name: string (nullable = true)
 |-- Departments: string (nullable = true)
 |-- salary: string (nullable = true)

### Group by "Name" column and using sum function on "Name" column

In [120]:
count_name = DF2.groupBy('Name').agg(count('Name'))
#count_Df.show()
count_name.groupBy('Name').agg(sum('count(Name)')).show()

+---------+----------------+
|     Name|sum(count(Name))|
+---------+----------------+
|Sudhanshu|               3|
|    Sunny|               2|
|    Krish|               3|
|   Mahesh|               2|
+---------+----------------+

### Group by "Name" column and using avg function on "Name" column

In [119]:
count_name.groupBy('Name').agg(avg('count(Name)')).show()

+---------+----------------+
|     Name|avg(count(Name))|
+---------+----------------+
|Sudhanshu|             3.0|
|    Sunny|             2.0|
|    Krish|             3.0|
|   Mahesh|             2.0|
+---------+----------------+

### Group by "Departments" column and using sum function on "Departments" column

In [121]:
count_d = DF2.groupBy('Departments').agg(count('Departments'))
#count_Df.show()
count_d.groupBy('Departments').agg(sum('count(Departments)')).show()

+------------+-----------------------+
| Departments|sum(count(Departments))|
+------------+-----------------------+
|         IOT|                      2|
|    Big Data|                      4|
|Data Science|                      4|
+------------+-----------------------+

### Group by "Departments" column and using mean function on "Departments" column:

In [122]:
count_d.groupBy('Departments').agg(mean('count(Departments)')).show()

+------------+-----------------------+
| Departments|avg(count(Departments))|
+------------+-----------------------+
|         IOT|                    2.0|
|    Big Data|                    4.0|
|Data Science|                    4.0|
+------------+-----------------------+

Group by "Departments" column and using count function on "Departments" column:

In [123]:
DF2.groupBy('Departments').agg(count('Departments')).show()

+------------+------------------+
| Departments|count(Departments)|
+------------+------------------+
|         IOT|                 2|
|    Big Data|                 4|
|Data Science|                 4|
+------------+------------------+

### Apply agg to using sum function get the total of salaries

In [127]:
new_df2 = DF2.withColumn("Salary", 
                                  DF2["Salary"]
                                  .cast('float'))
new_df2.printSchema()
new_df2.groupBy('Name').agg(sum('Salary')).show()

root
 |-- Name: string (nullable = true)
 |-- Departments: string (nullable = true)
 |-- Salary: float (nullable = true)

+---------+-----------+
|     Name|sum(Salary)|
+---------+-----------+
|Sudhanshu|    35000.0|
|    Sunny|    12000.0|
|    Krish|    19000.0|
|   Mahesh|     7000.0|
+---------+-----------+

## Task 4

You've been flown to their headquarters in Ulsan, South Korea, to assist them in accurately estimating the number of crew members a ship will need.

They're currently building new ships for certain customers, and they'd like you to create a model and utilize it to estimate how many crew members the ships will require.

Metadata:
1. Measurements of ship size 
2. capacity 
3. crew 
4. age for 158 cruise ships.

It is saved in a csv file for you called "ITI_data.csv". our task is to develop a regression model that will assist in predicting the number of crew members required for future ships. The client also indicated that they have found that particular cruise lines will differ in acceptable crew counts, thus this is most likely an important factor to consider when conducting your investigation.

In [130]:
DF3 = spark.read.csv('ITI_data.csv' , header=True)
DF3.show()

+-----------+-----------+---+------------------+----------+------+------+-----------------+----+
|  Ship_name|Cruise_line|Age|           Tonnage|passengers|length|cabins|passenger_density|crew|
+-----------+-----------+---+------------------+----------+------+------+-----------------+----+
|    Journey|    Azamara|  6|30.276999999999997|      6.94|  5.94|  3.55|            42.64|3.55|
|      Quest|    Azamara|  6|30.276999999999997|      6.94|  5.94|  3.55|            42.64|3.55|
|Celebration|   Carnival| 26|            47.262|     14.86|  7.22|  7.43|             31.8| 6.7|
|   Conquest|   Carnival| 11|             110.0|     29.74|  9.53| 14.88|            36.99|19.1|
|    Destiny|   Carnival| 17|           101.353|     26.42|  8.92| 13.21|            38.36|10.0|
|    Ecstasy|   Carnival| 22|            70.367|     20.52|  8.55|  10.2|            34.29| 9.2|
|    Elation|   Carnival| 15|            70.367|     20.52|  8.55|  10.2|            34.29| 9.2|
|    Fantasy|   Carnival| 23|            70.367|     20.56|  8.55| 10.22|            34.23| 9.2|
|Fascination|   Carnival| 19|            70.367|     20.52|  8.55|  10.2|            34.29| 9.2|
|    Freedom|   Carnival|  6|110.23899999999999|      37.0|  9.51| 14.87|            29.79|11.5|
|      Glory|   Carnival| 10|             110.0|     29.74|  9.51| 14.87|            36.99|11.6|
|    Holiday|   Carnival| 28|            46.052|     14.52|  7.27|  7.26|            31.72| 6.6|
|Imagination|   Carnival| 18|            70.367|     20.52|  8.55|  10.2|            34.29| 9.2|
|Inspiration|   Carnival| 17|            70.367|     20.52|  8.55|  10.2|            34.29| 9.2|
|     Legend|   Carnival| 11|              86.0|     21.24|  9.63| 10.62|            40.49| 9.3|
|   Liberty*|   Carnival|  8|             110.0|     29.74|  9.51| 14.87|            36.99|11.6|
|    Miracle|   Carnival|  9|              88.5|     21.24|  9.63| 10.62|            41.67|10.3|
|   Paradise|   Carnival| 15|            70.367|     20.52|  8.55|  10.2|            34.29| 9.2|
|      Pride|   Carnival| 12|              88.5|     21.24|  9.63| 11.62|            41.67| 9.3|
|  Sensation|   Carnival| 20|            70.367|     20.52|  8.55|  10.2|            34.29| 9.2|
+-----------+-----------+---+------------------+----------+------+------+-----------------+----+
only showing top 20 rows

### OneHotEncoder

In [221]:
#import required libraries
from pyspark.ml.feature import StringIndexer
from pyspark.ml.feature import OneHotEncoder
indexer = StringIndexer(inputCol="Cruise_line", outputCol="Cruise_line1")
#Fits a model to the input dataset with optional parameters.
df1 = indexer.fit(DF3).transform(DF3)
onehotencoder = OneHotEncoder(inputCol="Cruise_line1", outputCol="Cruise_line1_vec")
df11 = onehotencoder.fit(df1).transform(df1)
df11=df11.drop('Cruise_line','Cruise_line1')
df11=df11.withColumn("Cruise_line", df11 ['Cruise_line1_vec'])
df11=df11.drop('Cruise_line1_vec')


df11.show()

+-----------+---+------------------+----------+------+------+-----------------+----+---------------+
|  Ship_name|Age|           Tonnage|passengers|length|cabins|passenger_density|crew|    Cruise_line|
+-----------+---+------------------+----------+------+------+-----------------+----+---------------+
|    Journey|  6|30.276999999999997|      6.94|  5.94|  3.55|            42.64|3.55|(19,[16],[1.0])|
|      Quest|  6|30.276999999999997|      6.94|  5.94|  3.55|            42.64|3.55|(19,[16],[1.0])|
|Celebration| 26|            47.262|     14.86|  7.22|  7.43|             31.8| 6.7| (19,[1],[1.0])|
|   Conquest| 11|             110.0|     29.74|  9.53| 14.88|            36.99|19.1| (19,[1],[1.0])|
|    Destiny| 17|           101.353|     26.42|  8.92| 13.21|            38.36|10.0| (19,[1],[1.0])|
|    Ecstasy| 22|            70.367|     20.52|  8.55|  10.2|            34.29| 9.2| (19,[1],[1.0])|
|    Elation| 15|            70.367|     20.52|  8.55|  10.2|            34.29| 9.2| (19,[1],[1.0])|
|    Fantasy| 23|            70.367|     20.56|  8.55| 10.22|            34.23| 9.2| (19,[1],[1.0])|
|Fascination| 19|            70.367|     20.52|  8.55|  10.2|            34.29| 9.2| (19,[1],[1.0])|
|    Freedom|  6|110.23899999999999|      37.0|  9.51| 14.87|            29.79|11.5| (19,[1],[1.0])|
|      Glory| 10|             110.0|     29.74|  9.51| 14.87|            36.99|11.6| (19,[1],[1.0])|
|    Holiday| 28|            46.052|     14.52|  7.27|  7.26|            31.72| 6.6| (19,[1],[1.0])|
|Imagination| 18|            70.367|     20.52|  8.55|  10.2|            34.29| 9.2| (19,[1],[1.0])|
|Inspiration| 17|            70.367|     20.52|  8.55|  10.2|            34.29| 9.2| (19,[1],[1.0])|
|     Legend| 11|              86.0|     21.24|  9.63| 10.62|            40.49| 9.3| (19,[1],[1.0])|
|   Liberty*|  8|             110.0|     29.74|  9.51| 14.87|            36.99|11.6| (19,[1],[1.0])|
|    Miracle|  9|              88.5|     21.24|  9.63| 10.62|            41.67|10.3| (19,[1],[1.0])|
|   Paradise| 15|            70.367|     20.52|  8.55|  10.2|            34.29| 9.2| (19,[1],[1.0])|
|      Pride| 12|              88.5|     21.24|  9.63| 11.62|            41.67| 9.3| (19,[1],[1.0])|
|  Sensation| 20|            70.367|     20.52|  8.55|  10.2|            34.29| 9.2| (19,[1],[1.0])|
+-----------+---+------------------+----------+------+------+-----------------+----+---------------+
only showing top 20 rows

###Use VectorAssembler to merge all columns into one column:

In [222]:
from pyspark.ml.feature import VectorAssembler

#inputCols1=['Cruise_line1_vec','passenger_density1','cabins1','Age1','Tonnage1', 'passengers1', 'length1','crew1']
inputCols=['Cruise_line','passenger_density','cabins','Age','Tonnage', 'passengers', 'length','crew']
new_df = df11.withColumn("passenger_density", df11 ['passenger_density'] .cast('int'))\
        .withColumn('cabins', df11['cabins'].cast('int')) \
         .withColumn('Age', df11['Age'].cast('int'))\
         .withColumn('Tonnage', df11['Tonnage'].cast('int'))\
          .withColumn('passengers', df11['passengers'].cast('int'))\
          .withColumn('length', df11['length'].cast('int'))\
           .withColumn('crew', df11['crew'].cast('int'))
trainDF, testDF = new_df.randomSplit([.8,.2],seed=42)
#print(f"There are {trainDF.count()} rows in the training set, and {testDF.count()} in the test set")

df_va = VectorAssembler(inputCols=inputCols,outputCol='features')
df_vector = df_va.transform(trainDF)
df_vector.show()

+-------------+---+-------+----------+------+------+-----------------+----+---------------+--------------------+
|    Ship_name|Age|Tonnage|passengers|length|cabins|passenger_density|crew|    Cruise_line|            features|
+-------------+---+-------+----------+------+------+-----------------+----+---------------+--------------------+
|    Adventure| 12|    138|        31|    10|    15|               44|  11| (19,[0],[1.0])|(26,[0,19,20,21,2...|
|      Allegra| 21|     28|         8|     6|     4|               35|   4| (19,[5],[1.0])|(26,[5,19,20,21,2...|
|      Arcadia|  9|     85|        19|     9|     9|               43|   8| (19,[8],[1.0])|(26,[8,19,20,21,2...|
|        Aries| 22|      3|         0|     2|     0|               50|   0| (19,[9],[1.0])|(26,[9,19,21,22,2...|
|      Armonia| 12|     58|        15|     8|     7|               37|   7| (19,[7],[1.0])|(26,[7,19,20,21,2...|
|    Atlantica| 13|     85|        21|     9|    10|               40|   9| (19,[5],[1.0])|(26,[5,19,20,21,2...|
|   Brilliance| 11|     90|        25|     9|    10|               36|   8| (19,[0],[1.0])|(26,[0,19,20,21,2...|
|    Caribbean|  9|    116|        26|     9|    13|               44|  11| (19,[2],[1.0])|(26,[2,19,20,21,2...|
|  Celebration| 26|     47|        14|     7|     7|               31|   6| (19,[1],[1.0])|(26,[1,19,20,21,2...|
|      Century| 18|     70|        17|     8|     8|               39|   8| (19,[6],[1.0])|(26,[6,19,20,21,2...|
|        Cloud| 19|     16|         2|     5|     1|               56|   2|(19,[11],[1.0])|(26,[11,19,20,21,...|
|     Conquest| 11|    110|        29|     9|    14|               36|  19| (19,[1],[1.0])|(26,[1,19,20,21,2...|
|Constellation| 11|     91|        20|     9|     9|               44|   9| (19,[6],[1.0])|(26,[6,19,20,21,2...|
|        Coral| 11|     91|        19|     9|     9|               46|   9| (19,[2],[1.0])|(26,[2,19,20,21,2...|
|        Crown|  7|    116|        31|     9|    15|               37|  12| (19,[2],[1.0])|(26,[2,19,20,21,2...|
|         Dawn| 11|     90|        22|     9|    11|               40|  11| (19,[4],[1.0])|(26,[4,19,20,21,2...|
|         Dawn| 16|     77|        19|     8|    10|               39|   9| (19,[2],[1.0])|(26,[2,19,20,21,2...|
|      Destiny| 17|    101|        26|     8|    13|               38|  10| (19,[1],[1.0])|(26,[1,19,20,21,2...|
|        Dream| 21|     50|        17|     7|     8|               29|   6| (19,[4],[1.0])|(26,[4,19,20,21,2...|
|      Ecstasy| 22|     70|        20|     8|    10|               34|   9| (19,[1],[1.0])|(26,[1,19,20,21,2...|
+-------------+---+-------+----------+------+------+-----------------+----+---------------+--------------------+
only showing top 20 rows

### Create a Linear Regression Model

In [223]:
from pyspark.ml.regression import LinearRegression
#label=df_vector['crew1']
df_vector.show()

lr = LinearRegression(featuresCol='features',labelCol='crew' )
lrModel = lr.fit(df_vector)

+-------------+---+-------+----------+------+------+-----------------+----+---------------+--------------------+
|    Ship_name|Age|Tonnage|passengers|length|cabins|passenger_density|crew|    Cruise_line|            features|
+-------------+---+-------+----------+------+------+-----------------+----+---------------+--------------------+
|    Adventure| 12|    138|        31|    10|    15|               44|  11| (19,[0],[1.0])|(26,[0,19,20,21,2...|
|      Allegra| 21|     28|         8|     6|     4|               35|   4| (19,[5],[1.0])|(26,[5,19,20,21,2...|
|      Arcadia|  9|     85|        19|     9|     9|               43|   8| (19,[8],[1.0])|(26,[8,19,20,21,2...|
|        Aries| 22|      3|         0|     2|     0|               50|   0| (19,[9],[1.0])|(26,[9,19,21,22,2...|
|      Armonia| 12|     58|        15|     8|     7|               37|   7| (19,[7],[1.0])|(26,[7,19,20,21,2...|
|    Atlantica| 13|     85|        21|     9|    10|               40|   9| (19,[5],[1.0])|(26,[5,19,20,21,2...|
|   Brilliance| 11|     90|        25|     9|    10|               36|   8| (19,[0],[1.0])|(26,[0,19,20,21,2...|
|    Caribbean|  9|    116|        26|     9|    13|               44|  11| (19,[2],[1.0])|(26,[2,19,20,21,2...|
|  Celebration| 26|     47|        14|     7|     7|               31|   6| (19,[1],[1.0])|(26,[1,19,20,21,2...|
|      Century| 18|     70|        17|     8|     8|               39|   8| (19,[6],[1.0])|(26,[6,19,20,21,2...|
|        Cloud| 19|     16|         2|     5|     1|               56|   2|(19,[11],[1.0])|(26,[11,19,20,21,...|
|     Conquest| 11|    110|        29|     9|    14|               36|  19| (19,[1],[1.0])|(26,[1,19,20,21,2...|
|Constellation| 11|     91|        20|     9|     9|               44|   9| (19,[6],[1.0])|(26,[6,19,20,21,2...|
|        Coral| 11|     91|        19|     9|     9|               46|   9| (19,[2],[1.0])|(26,[2,19,20,21,2...|
|        Crown|  7|    116|        31|     9|    15|               37|  12| (19,[2],[1.0])|(26,[2,19,20,21,2...|
|         Dawn| 11|     90|        22|     9|    11|               40|  11| (19,[4],[1.0])|(26,[4,19,20,21,2...|
|         Dawn| 16|     77|        19|     8|    10|               39|   9| (19,[2],[1.0])|(26,[2,19,20,21,2...|
|      Destiny| 17|    101|        26|     8|    13|               38|  10| (19,[1],[1.0])|(26,[1,19,20,21,2...|
|        Dream| 21|     50|        17|     7|     8|               29|   6| (19,[4],[1.0])|(26,[4,19,20,21,2...|
|      Ecstasy| 22|     70|        20|     8|    10|               34|   9| (19,[1],[1.0])|(26,[1,19,20,21,2...|
+-------------+---+-------+----------+------+------+-----------------+----+---------------+--------------------+
only showing top 20 rows

### Creating a Pipeline

In [224]:
# Building the pipeline
from pyspark.ml import Pipeline
pipeline = Pipeline(stages=[df_va,lr])
pipelineModel = pipeline.fit(trainDF)
predDF = pipelineModel.transform(testDF)

### Model Evaluation

In [226]:
# Using RMSE
from pyspark.ml.evaluation import RegressionEvaluator
# Using R^2
r2 = RegressionEvaluator(predictionCol='prediction',
                                         labelCol='crew',
                                         metricName='r2').evaluate(predDF)
print(f"R2 is {r2}")

R2 is 0.9999999999951458

By Eng. Mostafa Nabieh 
If you have questions, please feel free to ask.

My Email : nabieh.mostafa@yahoo.com

My Whatsapp : +201015197566